.welcome-content {
    display: flex;
    justify-content: flex-start;
    height: 480px;
    border-radius: 50%/ 0 0 40px 40px;
}

.welcome-content-text {
    display: flex;
    width: 350px;
    margin-left: 10%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 40px;
}

.welcome-content-text h2 {
    font-size: 30px;
    margin: 1px;
    color: #1f8af4;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-content-text h1 {
    font-size: 60px;
    margin: 0px;
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;

}

.welcome-content-text p {
    color: white;
}

h1.bold-welcome {
    font-weight: 800;
}
