/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('./assets/Artboard\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    background-position-y: center;

    padding: 0px;
    margin: 0px;
    // background-color: #e3dbce;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#content {
    margin: 3rem auto;
    width: 92%;
    min-height: calc(100vh - 13.4rem);
}