        <section id="dashboard">
            <div *ngIf="errorFetching">Error loading fondations</div>
            <h2 class="dashboard-title">Fondations for donate</h2>
            <div class="fondations-dashboard">
                <div *ngFor="let fondation of fondations; let i = index" class="fondations-board">
                    <article class="service-img">
                        <img class="fondation-image-cover" src="{{fondation.img}}">
                    </article>
                    <h2 class="title">{{fondation.title}}</h2>
                    <h3 class="description">{{fondation.description}}</h3>
                    <h3 class="location">{{fondation.location}}</h3>
                    <div class="action">
                        <a class="btn" href="#">Details</a>
                    </div>
                </div>
                <!--If there is no pets in dashboard-->
                <div>
                    <p class="no-fondations">No fondations in dashboard</p>
                </div>
            </div>
        </section>