.fondations-dashboard {
  display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-left: 20px;
  margin-right: 20px;
}

.fondations-board {
  position: relative;
  bottom: 10px;
  width: 300px;
  text-align: center;
  border: 1px solid #ffc5c1;
  background: #d5bdafdd;
  margin: 0px 10px;
  padding: 20px 10px;
  border-radius: 12px;
}

.fondations-dashboard h2 {
  font-size: 22px;
  font-weight: bolder;
}

.fondations-dashboard h3 {
  font-size: 18px;
}

.fondation-image-cover {
  position: relative;
  width: 300px;
  height: 300px;
}

.fondations-board .action {
  display: flex;
  text-align: center;
}

.fondations-board .btn {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  background-color: #E41C77;
  transition: 500ms;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 5px;
}

.dashboard-title {
  text-align: center;
  font-weight: bolder;
}

.action > a:hover {
  box-shadow: none;
}

.no-fondations {

  font-size: 26px;
  font-weight: bolder;
  border: black solid;
  padding: 30px;
}

#no-fondations {
  position: relative;
  margin: auto;
  padding: 50px;
}
