<section id="detailsPage">
    <div class="details">
        <div class="fondationPic">
            <img src="{{fondation?.img}}" alt="not">
        </div>
        <div>
            <div class="fondationInfo">
                <h1>Title: {{fondation?.title}}</h1>
                <h3>Description: {{fondation?.description}}</h3>
                <h4>Location: {{fondation?.location}}</h4>
                <h4 class="donation">Donation: 0$</h4>
            </div>

            <!-- if there is no registered user, do not display div-->
            <ng-template #loggedTemplate>
                <div class="actionBtn">
                    <!-- Only for registered user and creator of the pets-->
                    <a *ngIf="isOwner" [routerLink]="['/fondation', 'edit', fondation?._id]" class="edit">Edit</a>
                    <a *ngIf="isOwner" (click)="deleteHandler()" class="remove">Delete</a>
                    <!--(Bonus Part) Only for no creator and user-->
                    <a *ngIf="!isOwner" href="#" class="donate">Donate</a>
                </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="!isNotLoggedIn ? loggedTemplate : null "></ng-container>
        </div>
    </div>
</section>